<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.li.ramon.addanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".property.PropertyActivity"></activity>
        <activity android:name=".frame.FrameAnimActivity" />
        <activity android:name=".view.ViewGroupActivity" />
        <activity android:name=".view.ActivityConvertActivity" />
        <activity android:name=".view.PopUpWindowActivity" />
        <activity android:name=".view.ViewAnimBasicActivity" />
        <activity android:name=".view.ViewAnimActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".property.CrossfadeActivity" />
        <activity android:name=".property.ScreenSlidePagerActivity" />
        <activity android:name=".property.card.CardFlipActivity" />
        <activity android:name=".ZoomActivity" />
        <activity android:name=".LayoutChangesActivity" />
    </application>

</manifest>