<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ramon.lee.androidui">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customview.CustomViewActivityDemo6"></activity>
        <activity android:name=".customview.CustomViewActivityDemo5" />
        <activity
            android:name=".interactive.FloatActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".interactive.PopUpWindowActivity" />
        <activity android:name=".interactive.NotificationActivity" />
        <activity android:name=".interactive.ToastActivity" />
        <activity android:name=".interactive.DialogActivity" />
        <activity android:name=".interactive.MenuActivity" />
        <activity android:name=".customview.CustomViewActivityDemo1" />
        <activity android:name=".layout.ConstraintActivityDemo12" />
        <activity android:name=".layout.ConstraintActivityDemo11" />
        <activity android:name=".layout.ConstraintActivityDemo10" />
        <activity android:name=".layout.ConstraintActivityDemo9" />
        <activity android:name=".layout.ConstraintActivityDemo8" />
        <activity android:name=".layout.ConstraintActivityDemo7" />
        <activity android:name=".layout.ConstraintActivityDemo6" />
        <activity android:name=".layout.ConstraintActivityDemo5" />
        <activity android:name=".layout.ConstraintActivityDemo4" />
        <activity android:name=".layout.ConstraintActivityDemo3" />
        <activity android:name=".layout.ConstraintActivityDemo2" />
        <activity android:name=".layout.LinearLayoutActivityDemo7" />
        <activity android:name=".layout.LinearLayoutActivityDemo6" />
        <activity android:name=".layout.LinearLayoutActivityDemo5" />
        <activity android:name=".layout.LinearLayoutActivityDemo4" />
        <activity android:name=".layout.LinearLayoutActivityDemo3" />
        <activity android:name=".layout.LinearLayoutActivityDemo2" />
        <activity android:name=".layout.RelativeLayoutActivityDemo4" />
        <activity android:name=".layout.RelativeLayoutActivityDemo3" />
        <activity android:name=".layout.RelativeLayoutActivityDemo2" />
        <activity android:name=".layout.SlidingPaneActivityDemo3" />
        <activity android:name=".layout.SlidingPaneActivityDemo1" />
        <activity android:name=".layout.GridLayoutActivityDemo2" />
        <activity android:name=".layout.FrameLayoutActivityDemo2" />
        <activity android:name=".layout.FrameLayoutActivityDemo1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".layout.LinearLayoutActivityDemo1" />
        <activity android:name=".layout.RelativeLayoutActivityDemo1" />
        <activity android:name=".layout.ConstraintActivityDemo1" />
        <activity android:name=".layout.FrameLayoutActivityDemo3" />
        <activity android:name=".layout.GridLayoutActivityDemo1" />
        <activity android:name=".layout.TableLayoutActivity" />
        <activity
            android:name=".layout.DrawerLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".layout.SlidingPaneActivityDemo2" />
        <activity android:name=".layout.BaseSlideCloseActivity" />
        <activity
            android:name=".layout.NextActivity"
            android:theme="@style/DIY.SlideClose.Transparent.Theme" />
        <activity android:name=".customview.CustomViewActivityDemo2" />
        <activity
            android:name=".customview.CustomViewActivityDemo3"
            android:theme="@style/AppThemeCustom" />
        <activity android:name=".customview.CustomViewActivityDemo4" />
        <activity android:name=".animation.property.PropertyActivity" />
        <activity android:name=".animation.frame.FrameAnimActivity" />
        <activity android:name=".animation.view.activities.ViewGroupActivity" />
        <activity android:name=".animation.view.activities.ActivityConvertActivity" />
        <activity android:name=".animation.view.activities.PopUpWindowActivity" />
        <activity android:name=".animation.view.activities.ViewAnimBasicActivity" />
        <activity android:name=".animation.view.ViewAnimActivity" />
        <activity android:name=".animation.property.activities.CrossFadeActivity" />
        <activity android:name=".animation.property.activities.ScreenSlidePagerActivity" />
        <activity android:name=".animation.property.card.CardFlipActivity" />
        <activity android:name=".animation.property.activities.ZoomActivity" />
        <activity android:name=".animation.property.activities.LayoutChangesActivity" />

        <receiver
            android:name=".interactive.receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ramon.lee.androidui.SNOOZE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".interactive.FloatWindowService"
            android:enabled="true"
            android:exported="true" />
    </application>

    <permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>