<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ramon.better.com.components">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityLifeCycle" />
        <activity android:name=".activity.ActivityLifeCycle2" /> <!-- Activity 启动模式： 默认 standard -->
        <activity
            android:name=".activity.StandardActivity"
            android:launchMode="standard" /> <!-- Activity 启动模式： 栈顶复用模式 singleTop -->
        <activity
            android:name=".activity.SingleTopActivity"
            android:launchMode="singleTop" /> <!-- Activity 启动模式： 栈内复用模式 singleTask -->
        <activity
            android:name=".activity.SingleTaskActivity"
            android:launchMode="singleTask" /> <!-- Activity 启动模式： 单实例模式 singleInstance -->
        <activity
            android:name=".activity.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.IntentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="home"
                    android:scheme="good" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ServiceTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.StartService" />
        <service android:name=".service.BindService" />
        <service
            android:name=".service.RSSPullService"
            android:exported="false" />
    </application>

</manifest>